@model VitEgoDictionary.Models.ViewModels.MasterLayoutViewModel

@{
    ViewBag.Title = "VitEgo Dictionary | About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-title"><h1>About</h1></div>
    <hr />
    <div id="body-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div><h2 id="panel-body-header">Build Up the Dictionary You Really Need</h2></div>
                <hr />
                <div>
                    <p>First of all, I would like to apologize that not all the functions of this app work properly since the program is under constant development. I’m working on it for my own needs, but I would be happy to share it with anyone who is interested. Thus, any kind of feedback are welcomed. You can easily reach me at <a href="mailto:vit.ganchuk@gmail.com">Gmail</a> or <a href="https://ca.linkedin.com/in/ganchuk">LinkedIn</a></p>
                    <h3>Why VitEgo Dictionary?</h3>
                    <p>If you have ever studied any foreign language, you probably know how hard it can be to recall a word or a phrase that seems to be on the tip of your tongue but you are unable to remember it at the very moment when you need it the most. Definitely, you may look up any dictionary, but often it does not help much since search parameters are usually pretty vague and foggy as well. Another situation you might be familiar with is when you hear some helpful, witty, or funny phrase and feel it would be great to memorize it to use in the future. To your great frustration, as a rule, your wishes have nothing to do with reality, since you will likely forget the phrase in a couple minutes and will not recall it ever. If all this sounds familiar to you, then VitEgo Dictionary, designed specifically to tackle this kind of issues, is for you.</p>
                    <h3>How it works?</h3>
                    <p>Once you run into any word, phrase, or idiom you wish to save, you can smoothly add it to your dictionary, specifying one or more meanings, and providing them with any number of real examples and synonyms. Describing the meaning in your own words develops a mental association and translates new information into a form that the brain can retain better than its original form. You are also able to create groups of words based on some criteria such as a common topic or a subordination between a word with a more specific meaning and another more general word. For example, ‘to stroll’ and ‘to walk’ are hyponyms of ‘to go’.  Another way to link words is to establish associations between phrases and words they are comprised of. And that’s only the beginning - if you have troubles memorizing which preposition you should use with some particular word, or you are messing about numerous and confusing phrasal verbs, the program will give you a chance to sort them out too. Every term can be added on the fly in the basic mode and then modified to suit your new knowledge and needs. Instead of adding the word itself, look around and learn how it is used in context. Writing down collocations and idioms can be a significant aid in improving your understanding and use of words. </p>
                    <h3>What it gives?</h3>
                    <p>Well, you might say that the process of filling the dictionary is boring and tedious, and, to some degree, it’s true. This site is not for the lazy guys, and it is not going to do all your work for you. However, since this point, those who diligent will never need to look through thousands and thousands unfamiliar terms in vain attempts to recall this specific one they need. Being fully extensible, the dictionary enables search by dates, key words, topics, associations, generalizations, and many more. Imagine you forgot the word ‘a ladle’. You know what it is and how it is used, but cannot recall the word itself. You have the whole bunch of ways to find this word. First, you can try typing first letters, the auto-complete function will show you all possibilities and will probably display the desired word. If not, you can try to find the word by its more general meaning, say ‘cutlery’. If it does not work too, you can look through the whole topic, say, ‘kitchen’ or ‘food’.  Then, you can try to find synonyms and check them. Finally, you can specify the range of time you probably added the word. The same is true for phrasal verbs, phrases, and idioms. </p>
                    <h3>Summary</h3>
                    <p>This program is not designed to compete with other dictionaries; it is rather aimed at helping to organize, retain, and improve knowledge you have. Eventually your dictionary (and your vocabulary) is getting bigger and wider, and you can be sure that at the moment of need, you will be able to apply all the features to quickly look up whatever you want. Each time you launch the program, you will face a list of recently added terms. Coupled with leveraging your muscle and visual memory when you are typing the words, it facilitates memorizing them as well. </p>
                    <h3>Acknowledgments</h3>
                    <p>I would like to thank two excellent online dictionaries <a href="http://www.macmillandictionary.com/">Macmillan Dictionary</a> and <a href="http://www.vocabulary.com/dictionary/">Vocabulary.com</a> that inspired me to develop this app and where I find most word definitions and usage examples. I'm also grateful to <a href="http://stackoverflow.com/">Stack Overflow</a> website that has always helped me out to tackle any kind of problems.</p>
                </div>
            </div>
        </div>
    </div>
</div>