@model VitEgoDictionary.Models.ViewModels.MasterLayoutViewModel

@{
    ViewBag.Title = "VitEgo | Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-title"><h1>Registration</h1></div>
    <hr />
    <div id="body-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div><h2 id="panel-body-header">Sorry! This page is still under construction!</h2></div>
                <hr />
                <p>Honestly speaking, I am still not sure I need to complete this page. I’m developing this app for my own needs, and I would be happy to share it with anyone who is interested, but I decided to wait for your responses. If anyone convince me that the program is worth sharing and distributing (for free), I will finish it.</p>
                <p>Any kind of feedback are welcomed. You can reach me at <a href="mailto:vit.ganchuk@gmail.com">Gmail</a> or <a href="https://ca.linkedin.com/in/ganchuk">LinkedIn</a></p>
                <p>Regards, Vit</p>
            </div>
        </div>
    </div>
</div>