/*importing Sniglet*/
@import url("http://fonts.googleapis.com/css?family=Sniglet");

/*************************** PAGE *****************************/
html, body 
{     
    width:100%; 
    height:101%;
    margin:0; 
    padding:0; 
    font-family:Sniglet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-size:1em !important;
    text-align:left;     
    color:darkslateblue;
    background:#26B1CF;
}

/*************************** HEADER *****************************/
#header 
{     
    background-image:url(Pics/header.png);
    margin-top:-6px;
}

#header img 
{
    max-width:100%;
    max-height:100%;
}

div.authorization 
{   
    font-size:0.85em;
}

div.navigation 
{   
    font-size:0.95em;
}

ul.navigation, ul.navigation-mobile, ul.navigation-mobile li ul, ul.authorization 
{
    margin:0px;
    padding:0px;
    list-style:none;
}

ul.navigation li a, ul.navigation-mobile li a, ul.authorization > li > a 
{
    display:block;
    background: inherit;
    color:#fff;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position:relative;
}

ul.navigation li a, ul.authorization > li > a 
{
    border-radius:3px;
}

ul.navigation li a 
{
    padding:.3em 0.5em; 
}

ul.navigation-mobile li a 
{
    padding:.3em 1.0em; 
}

ul.authorization li a
{
    padding:.6em 0.5em .3em 0.5em;       
}

ul.navigation li a:hover, ul.navigation-mobile li a:hover, ul.authorization > li > a:hover 
{  
    text-decoration:none;
    background:#79c9ec;
    color:#026890;
}

ul.navigation li a:active, ul.navigation-mobile li a:active, ul.authorization > li > a:active 
{
    position:relative;
    top:2px;
}

ul.navigation-mobile li ul {
    position: relative;
    border-radius:3px;
    top:0px;
    left:0px;
    display:block;
    background-image:url(Pics/header.png);
    z-index:1;
}

#owl-carousel img {
}

@media screen and (min-width: 768px) 
{
    #header 
    {     
        border-radius:5px; 
        -webkit-border-radius:5px; 
        -moz-border-radius:5px;
        box-shadow:#666 0px 3px 5px;
        -moz-box-shadow: #666 0px 3px 5px;
        -webkit-box-shadow:#666 0px 3px 5px;
    }

    #header img     
    {
        padding-left:20px;
    }

    #body 
    {     
        margin: 20px 0 0 0;
        border-radius:5px; 
        -webkit-border-radius:5px; 
        -moz-border-radius:5px;
        box-shadow:#666 0px 3px 5px;
        -moz-box-shadow: #666 0px 3px 5px;
        -webkit-box-shadow:#666 0px 3px 5px;
    }

    ul.navigation-mobile {
        display:none;
    }

    #process .modal-dialog {
        margin: 20% auto;
    }
}

@media screen and (max-width: 992px) 
{
    #process .modal-dialog {
        margin: 30% auto;
    }
}

@media screen and (max-width: 767px) 
{
    #header img 
    {
        padding-left:5px;
    }

    ul.navigation {
        display:none;
    }

    #process .modal-dialog {
        margin: 40% auto;
    }
    
    .container {
        padding-right:0px;
        padding-left:0px;
    }
}

/************************ BODY ******************************/
#body 
{
	background: #FFFFFF;
    padding:15px 15px 1px 15px;
}

#body-title 
{   
}

#body-body
{ 
}

#body-footer 
{ 
    text-align: right;
}

/******************** FOOTER ************************/
#footer 
{
    color:#fff;
    padding:10px;
}